<div class="my-3">
    <app-banner></app-banner>
</div>

<section>
    image here
    <article>
        <p>Je suis Samantha Defays, une développeuse web de 32 ans. Après avoir vécu plusieurs expériences différentes et expérimenté différentes voies, je me suis réorientée vers une réelle vocation et une passion: le développement web. Je sais travailler en équipe, je sais travailler dans l'urgence et je sais résister au stress. Je suis à la recherche d'une nouvelle entreprise pour m'épanouir, continuer d'apprendre pour toujours m'améliorer et explorer de nouveaux horizons.</p>
    </article>
</section>