<section id="experiences">

    <div class="timeline">
        <div class="outer">
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo_gercop_2.png" alt="Logo Gercop">
                        <h2>Développeuse web fullstack</h2>
                        <h3>Gercop (Groupe Orisha)</h3>
                        <small>Depuis mars 2021 - CDI</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>Avec plus de 20 ans d'existance, Gercop Marseille (anciennement Immosoft) propose des logiciels de gestion des biens immobiliers et de gestion de syndic. Il s'agit de mon premier emploi après ma reconversion en tant que développeuse web, et dès mon arrivée, j'ai été en charge de la refonte du visuel de l'extranet de la société (pour que les clients de nos clients se connectent).</p>
                        <h4>Mon objectif</h4>
                        <p>Mon premier objectif était de prendre confiance en mes capacités et apprendre aux côtés de développeurs plus expérimentés. J'ai rejoint leurs rangs pour continuer la refonte du logiciel (j'ai en grande majorité travaillé sur la refonte du logiciel de gestion pour les syndics). L'objectif principal est d'avoir un logiciel web plus rapide, plus agréable visuellement et que toutes les pages soient cohérente entre elles.</p>
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Refonte visuelle de l'extranet et passage de Knockout JS à Angular</li>
                            <li>Montée en version Angular d'un autre extranet du groupe Gercop (maintenant DL Software)</li>
                            <li>Participation au changement de framework frontend sur le logiciel web: passage de Knockout JS à Angular</li>
                            <li>Refonte de plusieurs parties du logiciel de syndic (frontend et backend)</li>
                            <li>Optimisation des requêtes SQL pour accélérer le chargement des pages</li>
                            <li>Refonte des documents précédemment générés avec un système de HTML to PDF et désormais faits en TCPDF</li>
                            <li>Depuis la révélation de la nouvelle identié du groupe, changement du site pour faire un skin Orisha.</li>
                        </ul>
                        <h4>Environnement technique</h4>
                        <ul>
                            <li>Stack techinique: Angular 11, Zend Framework 2, MySQL, Docker</li>
                            <li>Mes outils du quotidien: Slack, Teams, Wrike, GitLab</li>
                        </ul>
                        <h4>Société</h4>
                        <p>Entreprise de logiciels de gestion immobilière</p>
                        <a href="https://www.gercop.com/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 20 20" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path fill="#38ada9" fill-rule="evenodd" d="M12.586 4.586a2 2 0 1 1 2.828 2.828l-3 3a2 2 0 0 1-2.828 0 1 1 0 0 0-1.414 1.414 4 4 0 0 0 5.656 0l3-3a4 4 0 0 0-5.656-5.656l-1.5 1.5a1 1 0 1 0 1.414 1.414zm-5 5a2 2 0 0 1 2.828 0 1 1 0 1 0 1.414-1.414 4 4 0 0 0-5.656 0l-3 3a4 4 0 1 0 5.656 5.656l1.5-1.5a1 1 0 1 0-1.414-1.414l-1.5 1.5a2 2 0 1 1-2.828-2.828z" clip-rule="evenodd" opacity="1" data-original="#000000"></path></g></svg> Gercop</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo_aphm_2.png" alt="Logo AP-HM">
                        <h2>Assistante de régulation médicale</h2>
                        <h3>Assistance Publique des Hopitaux de Marseille (AP-HM, SAMU)</h3>
                        <small>De Juin 2016 à Janvier 2020 - Pendant 3 ans et 8 mois - CDD</small>
                    </article>
                    <article class="detail">
                        <h4>Mon objectif</h4>
                        <p>Je devais réceptionner les appels entrants du numéro d'urgence (le 15), traiter l'appel avec un dossier administratif et rediriger le requérant vers un médecin libéral ou un médecin urgentiste. Il me fallait pouvoir réaliser toutes les tâcher d'un début de situation d'urgence.</p>
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Régulation des appels et estimation du degré de gravité de l'appel</li>
                            <li>Gestion et envoi des moyens de secours terrestres (pompiers, SMUR) ou héliportés (hélicoptère médicalisé)</li>
                            <li>Gestion des arrivées des hélicoptères sur les hôpitaux du département et référencement de la position de tous les hélicoptères médicalisés du département des Bouches-du-Rhône.</li>
                        </ul>
                        <h4>Environnement technique</h4>
                        <p>Mes outils du quotidien: Outlook, Centaur, Google Maps, logiciel de téléphonie, START (logiciel du bataillon des marins pompiers de Marseille), CAD (logiciel des sapeurs pompiers du 13)</p>
                        <h4>Société</h4>
                        <p>Service hospitalier et d'urgences pour la ville de Marseille</p>
                        <a href="http://fr.ap-hm.fr/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 20 20" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path fill="#38ada9" fill-rule="evenodd" d="M12.586 4.586a2 2 0 1 1 2.828 2.828l-3 3a2 2 0 0 1-2.828 0 1 1 0 0 0-1.414 1.414 4 4 0 0 0 5.656 0l3-3a4 4 0 0 0-5.656-5.656l-1.5 1.5a1 1 0 1 0 1.414 1.414zm-5 5a2 2 0 0 1 2.828 0 1 1 0 1 0 1.414-1.414 4 4 0 0 0-5.656 0l-3 3a4 4 0 1 0 5.656 5.656l1.5-1.5a1 1 0 1 0-1.414-1.414l-1.5 1.5a2 2 0 1 1-2.828-2.828z" clip-rule="evenodd" opacity="1" data-original="#000000"></path></g></svg> AP-HM</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo_vyper_2.png" alt="Logo Vyper Japanese  Music">
                        <h2>Adjointe à la rédaction</h2>
                        <h3>VYPER Japanese Music</h3>
                        <small>De Mai 2014 à Janvier 2015 - Pendant 1 an et 1 mois - Bénévolat</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>J'ai prêté main forte bénévolement au développement d'un magazine naissant sur les actualités de la musique japonaise (en particulier un mouvement musical appelé le Visual Kei)</p>
                        <h4>Mon objectif</h4>
                        <p>Aider à diffuser la passion de l'équipe autour du Visual Kei à l'aide de contenus exclusifs (photos, interviews, live reports...)</p>
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Rédaction de live reports suite aux concerts d'artistes Japonais</li>
                            <li>Interview d'artistes Japonais en anglais (en face à face) ou avec l'aide d'un interprète pour que l'artiste puisse avoir les questions en japonais</li>
                            <li>Traduction d'interviews du français à l'anglais pour envoyer nos questions au management de l'artiste, et parfois du japonais à l'anglais ou du japonais au français pour retranscrire le contenu de l'interview dans le magazine</li>
                            <li>Aide à la mise en page du magazine</li>
                        </ul>
                        <h4>Environnement technique</h4>
                        <p>Mes outils du quotidien: Word, InDesign</p>
                        <h4>Société</h4>
                        <p>Magazine sur l'actualité de la musique Japonaise (plus en activité)</p>
                        <a href="https://vyperjapanesemusic.tumblr.com/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 20 20" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path fill="#38ada9" fill-rule="evenodd" d="M12.586 4.586a2 2 0 1 1 2.828 2.828l-3 3a2 2 0 0 1-2.828 0 1 1 0 0 0-1.414 1.414 4 4 0 0 0 5.656 0l3-3a4 4 0 0 0-5.656-5.656l-1.5 1.5a1 1 0 1 0 1.414 1.414zm-5 5a2 2 0 0 1 2.828 0 1 1 0 1 0 1.414-1.414 4 4 0 0 0-5.656 0l-3 3a4 4 0 1 0 5.656 5.656l1.5-1.5a1 1 0 1 0-1.414-1.414l-1.5 1.5a2 2 0 1 1-2.828-2.828z" clip-rule="evenodd" opacity="1" data-original="#000000"></path></g></svg> VYPER Japanese Music</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo_myoppa_2.png" alt="Logo My Oppa">
                        <h2>Assistante communication</h2>
                        <h3>MyOppa</h3>
                        <small>De mars 2014 à mai 2014 - Stage</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>Stage réalisé dans le cadre de mon BTS en communication</p>
                        <h4>Mon objectif</h4>
                        <p>Le but était d'aider à établir un plan de communication pour faire grandir l'activité</p>
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Proposition de charte graphique</li>
                            <li>Création de logos et propositions de designs web</li>
                        </ul>
                        <h4>Environnement technique</h4>
                        <p>Mes outils du quotidien: Photoshop, InDesign</p>
                        <h4>Société</h4>
                        <p>Création de vêtements et de bijoux</p>
                        <a href="https://www.myoppa.fr/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 20 20" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path fill="#38ada9" fill-rule="evenodd" d="M12.586 4.586a2 2 0 1 1 2.828 2.828l-3 3a2 2 0 0 1-2.828 0 1 1 0 0 0-1.414 1.414 4 4 0 0 0 5.656 0l3-3a4 4 0 0 0-5.656-5.656l-1.5 1.5a1 1 0 1 0 1.414 1.414zm-5 5a2 2 0 0 1 2.828 0 1 1 0 1 0 1.414-1.414 4 4 0 0 0-5.656 0l-3 3a4 4 0 1 0 5.656 5.656l1.5-1.5a1 1 0 1 0-1.414-1.414l-1.5 1.5a2 2 0 1 1-2.828-2.828z" clip-rule="evenodd" opacity="1" data-original="#000000"></path></g></svg> MyOppa</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo_rollernco_2.png" alt="Logo Roller'n'co">
                        <h2>Assistante communication</h2>
                        <h3>Roller'n'co</h3>
                        <small>De mars 2013 à mai 2013 - Stage</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>Stage effectué dans le cadre de mon BTS de communication</p>
                        <h4>Mon objectif</h4>
                        <p>Aider à mieux cibler les clients et augmenter les ventes</p>
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Création de visuels et de newsletter</li>
                            <li>Référencement en ligne (SEO avec Google AdWords) et suivi des statistiques avec Google Analytics</li>
                            <li>Mise à jour du site internet</li>
                        </ul>
                        <h4>Environnement technique</h4>
                        <ul>
                            <li>Mes outils du quotidien: Photoshop</li>
                            <li>Stack technique: Prestashop</li>
                        </ul>
                        <h4>Société</h4>
                        <p>Site de vente de matériel sportif, plus particulièrement lié au monde du roller</p>
                        <a href="https://www.rollernco.com/fr/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" x="0" y="0" viewBox="0 0 20 20" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path fill="#38ada9" fill-rule="evenodd" d="M12.586 4.586a2 2 0 1 1 2.828 2.828l-3 3a2 2 0 0 1-2.828 0 1 1 0 0 0-1.414 1.414 4 4 0 0 0 5.656 0l3-3a4 4 0 0 0-5.656-5.656l-1.5 1.5a1 1 0 1 0 1.414 1.414zm-5 5a2 2 0 0 1 2.828 0 1 1 0 1 0 1.414-1.414 4 4 0 0 0-5.656 0l-3 3a4 4 0 1 0 5.656 5.656l1.5-1.5a1 1 0 1 0-1.414-1.414l-1.5 1.5a2 2 0 1 1-2.828-2.828z" clip-rule="evenodd" opacity="1" data-original="#000000"></path></g></svg> Roller'n'Co</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>