<h1>Expériences</h1>
<section id="experiences">

    <div class="timeline">
        <div class="outer">
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo/logo_orisha_2.png" alt="Logo Orisha">
                        <h2>Développeuse web fullstack</h2>
                        <h3>Orisha Real Estate (Gercop)</h3>
                        <small>Depuis mars 2021 - CDI</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>Au sein de la Business Unit Real Estate, la société anciennement Gercop offre son expertise de plus de 20 ans dans la conception de logiciels de gestion immobilière et pour les syndics de copropriété.</p>
                        <p>Dès mon arrivée, j'ai été en charge de la refonte du visuel de l'extranet de la société (pour que les clients de nos clients se connectent).</p>
                        
                        <h4>Mon objectif</h4>
                        <p>Mon premier objectif était de prendre confiance en mes capacités et apprendre aux côtés de développeurs plus expérimentés. J'ai rejoint leurs rangs pour continuer la refonte du logiciel (j'ai en grande majorité travaillé sur la refonte du logiciel de gestion pour les syndics). L'objectif principal est d'avoir un logiciel web plus rapide, plus agréable visuellement et que toutes les pages soient cohérente entre elles.</p>
                        
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Refonte visuelle de l'extranet et passage de Knockout JS à Angular</li>
                            <li>Montée en version Angular d'un autre extranet du groupe Gercop (maintenant DL Software)</li>
                            <li>Participation au changement de framework frontend sur le logiciel web: passage de Knockout JS à Angular</li>
                            <li>Refonte de plusieurs parties du logiciel de syndic (frontend et backend)</li>
                            <li>Optimisation des requêtes SQL pour accélérer le chargement des pages</li>
                            <li>Refonte des documents précédemment générés avec un système de HTML to PDF et désormais faits en TCPDF</li>
                            <li>Depuis la révélation de la nouvelle identié du groupe, changement du site pour faire un skin Orisha.</li>
                            <li>Développement du front pour la feature de reconnaissance automatique de fqcture (OCR avec AWS)</li>
                        </ul>
                        
                        <h4>Environnement technique</h4>
                        <ul>
                            <li>Stack techinique: Angular 12, Zend Framework 2, PHP 5,7, MySQL 5.7 en multi bases, Docker, AWS (EC2, S3, Step functions, DynamoDB, API Gateway...)</li>
                            <li>Mes outils du quotidien: Google workspace, GitLab, Postman, VS Code, DBeaver (anciennement: Wrike, Teams, Slack)</li>
                        </ul>
                        
                        <h4>Société</h4>
                        <p>Entreprise de logiciels de gestion immobilière</p>
                        <a href="https://www.orisha.com/" target="_blank"><img src="../../assets/images/www.svg" alt="Illustration de lien" (click)="onClickGoToLink('https://www.orisha.com/')">Orisha</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo/logo_coorty_2.png" alt="Logo Gercop">
                        <h2>Développeuse web frontend</h2>
                        <h3>Coorty</h3>
                        <small>2021 - 2 mois</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p></p>
                        
                        <h4>Mon objectif</h4>
                        <p>Coorty propose un logiciel de gestion pour les courtiers en assurance. Il permet de répertorier les clients, les contrats, le pourcentage négocié sur le contrat...</p>
                        
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Intégration de maquette pour l'extranet d'un client</li>
                            <li>Réalisation du front pour faire le lien entre le site de Coorty et l'extranet</li>
                            <li>Aide au débug de l'application</li>
                        </ul>
                        
                        <h4>Environnement technique</h4>
                        <ul>
                            <li>Stack techinique: Angular 9, Symfony, Docker</li>
                            <li>Mes outils du quotidien: VS Code, PHP MyAdmin, Discord, Trello</li>
                        </ul>
                        
                        <h4>Société</h4>
                        <p>Entreprise de logiciel pour les courtiers en assurance</p>
                        <a href="https://coorty.fr/" target="_blank"><img src="../../assets/images/www.svg" alt="Illustration de lien">Coorty</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo/logo_aphm_2.png" alt="Logo AP-HM">
                        <h2>Assistante de régulation médicale</h2>
                        <h3>Assistance Publique des Hopitaux de Marseille (AP-HM, SAMU)</h3>
                        <small>De Juin 2016 à Janvier 2020 - Pendant 3 ans et 8 mois - CDD</small>
                    </article>
                    <article class="detail">
                        <h4>Mon objectif</h4>
                        <p>Je devais réceptionner les appels entrants du numéro d'urgence (le 15), traiter l'appel avec un dossier administratif et rediriger le requérant vers un médecin libéral ou un médecin urgentiste. Il me fallait pouvoir réaliser toutes les tâcher d'un début de situation d'urgence. Sur d'autres postes, j'aidais à gérer la logistique des véhicules d'urgence.</p>
                        
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Régulation des appels et estimation du degré de gravité de l'appel</li>
                            <li>Gestion et envoi des moyens de secours terrestres (pompiers, SMUR) ou héliportés (hélicoptère médicalisé)</li>
                            <li>Gestion des arrivées des hélicoptères sur les hôpitaux du département et référencement de la position de tous les hélicoptères médicalisés de la région Provence-Alpes-Côtes-d'Azur.</li>
                        </ul>
                        
                        <h4>Environnement technique</h4>
                        <p>Mes outils du quotidien: Outlook, Centaur (le logiciel utilisé), Google Maps, MediQ (logiciel de téléphonie), START (logiciel du bataillon des marins pompiers de Marseille), CAD (logiciel des sapeurs pompiers du 13)</p>
                        
                        <h4>Société</h4>
                        <p>Service hospitalier et d'urgences pour la ville de Marseille</p>
                        <a href="http://fr.ap-hm.fr/" target="_blank"><img src="../../assets/images/www.svg" alt="Illustration de lien">AP-HM</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo/logo_vyper_2.png" alt="Logo Vyper Japanese  Music">
                        <h2>Adjointe à la rédaction</h2>
                        <h3>VYPER Japanese Music</h3>
                        <small>De Mai 2014 à Janvier 2015 - Pendant 1 an et 1 mois - Bénévolat</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>J'ai prêté main forte bénévolement au développement d'un magazine naissant sur les actualités de la musique japonaise (en particulier un mouvement musical appelé le Visual Kei, un genre de rock).</p>
                        
                        <h4>Mon objectif</h4>
                        <p>Aider à diffuser la passion de l'équipe autour du Visual Kei à l'aide de contenus exclusifs (photos, interviews, live reports...)</p>
                        
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Rédaction de live reports suite aux concerts d'artistes Japonais</li>
                            <li>Interview d'artistes Japonais en anglais (en face à face) ou avec l'aide d'un interprète pour que l'artiste puisse avoir les questions en japonais</li>
                            <li>Traduction d'interviews du français à l'anglais pour envoyer nos questions au management de l'artiste, et parfois du japonais à l'anglais ou du japonais au français pour retranscrire le contenu de l'interview dans le magazine</li>
                            <li>Mise en page de quelques articles</li>
                        </ul>
                        
                        <h4>Environnement technique</h4>
                        <p>Mes outils du quotidien: Word, InDesign</p>
                        
                        <h4>Société</h4>
                        <p>Magazine sur l'actualité de la musique Japonaise (le magazine n'est plus en activité)</p>
                        <a href="https://vyperjapanesemusic.tumblr.com/" target="_blank"><img src="../../assets/images/www.svg" alt="Illustration de lien">VYPER Japanese Music</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo/logo_myoppa_2.png" alt="Logo My Oppa">
                        <h2>Assistante communication</h2>
                        <h3>MyOppa</h3>
                        <small>De mars 2014 à mai 2014 - Stage</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>My Oppa est une marque de vêtements et de bijoux steampunk, mais égalements dans un style lolita. La créatrice a réalisé plusieurs défilés dans des conventions telles que Japan Expo ou encore Japan Touch. Il s'agit d'un stage d'un mois réalisé dans le cadre de mon BTS en communication.</p>
                        
                        <h4>Mon objectif</h4>
                        <p>Le but était d'aider à établir un plan de communication pour faire grandir l'activité de la marque, mieux la faire connaître et la définir.</p>
                        
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Proposition de charte graphique</li>
                            <li>Création de logos et propositions de designs web</li>
                        </ul>
                        
                        <h4>Environnement technique</h4>
                        <p>Mes outils du quotidien: Photoshop, InDesign</p>
                        
                        <h4>Société</h4>
                        <p>Création de vêtements et de bijoux</p>
                        <a href="https://www.myoppa.fr/" target="_blank"><img src="../../assets/images/www.svg" alt="Illustration de lien">MyOppa</a>
                    </article>
                </div>
            </div>
            <div class="card">
                <div class="info">
                    <article class="title">
                        <img src="../../assets/images/logo/logo_rollernco_2.png" alt="Logo Roller'n'co">
                        <h2>Assistante communication</h2>
                        <h3>Roller'n'co</h3>
                        <small>De mars 2013 à mai 2013 - Stage</small>
                    </article>
                    <article class="detail">
                        <h4>Contexte</h4>
                        <p>Roller'n'co est un site de e-commerce de matériel sportif, principalement sur du matériel de roller, comme son nom l'indique. Le propriétaire est situé sur Aix-en-Provence. Il s'agit d'un stage d'un mois effectué dans le cadre de mon BTS de communication.</p>
                        
                        <h4>Mon objectif</h4>
                        <p>Aider à mieux cibler les clients, rendre le site plus attractif et, in fine, aider à augmenter les ventes.</p>
                        
                        <h4>Tâches effectuées</h4>
                        <ul>
                            <li>Création de visuels comme des bannières et des newsletters</li>
                            <li>Référencement en ligne (SEO avec Google AdWords) et suivi des statistiques avec Google Analytics</li>
                            <li>Mise à jour du site internet et ajout des nouveaux visuels.</li>
                        </ul>
                        
                        <h4>Environnement technique</h4>
                        <ul>
                            <li>Mes outils du quotidien: Photoshop</li>
                            <li>Stack technique: Prestashop</li>
                        </ul>
                        
                        <h4>Société</h4>
                        <p>Site de vente de matériel sportif.</p>
                        <a href="https://www.rollernco.com/fr/" target="_blank"><img src="../../assets/images/www.svg" alt="Illustration de lien">Roller'n'Co</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>