<h1>Contact</h1>
<nav>
    <a href="https://github.com/samantha-defays" title="GitHub"><i class="fi fi-brands-github"></i></a>
    <a href="https://www.figma.com/file/SZ75AOkH41O2r2w2RmHkKJ/Kraken-Wireframe?type=design&node-id=23%3A2430&mode=design&t=vbK2E64XloeZDF5A-1" title="Figma"><i class="fi fi-brands-figma"></i></a>
    <a href="https://www.behance.net/velvet_liquor" title="Behance"><i class="fi fi-brands-behance"></i></a>
</nav>
    
<p>Send me a message <i class="fi fi-sr-at"></i> samantha.defays at ikmail.com</p>