section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section article, section svg {
    width: 50%;
}

article {
    text-align: center;
}

article h1, article h2 {
    display: block;
}

article h1 {
    font-size: 4rem;
    color: var(--primary-color);
    border: 2px solid var(--light-color);
}

article h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    transition: ease-in-out 0.3s;
    margin-top: -10px;
}

article:hover h2 {
    padding-top: 15px;
}

