section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

section article, section img {
    width: 50%;
}

article {
    text-align: center;
}

article h1, article h2 {
    display: block;
}

article h1 {
    font-size: 3rem;
    color: var(--primary-color);
    border: 2px solid var(--light-color);
}

article h2 {
    font-size: 1.8rem;
    color: var(--secondary-color);
    transition: ease-in-out 0.3s;
    margin-top: -5px;
}

article:hover h2 {
    padding-top: 15px;
    color: var(--light-color);
}

article:hover h1 {
    color: var(--light-color);
}

img {
    width: 40vw;
    margin-left: 1%;
}