/*
  __  __          _____ _   _ 
 |  \/  |   /\   |_   _| \ | |
 | \  / |  /  \    | | |  \| |
 | |\/| | / /\ \   | | | . ` |
 | |  | |/ ____ \ _| |_| |\  |
 |_|  |_/_/    \_\_____|_| \_|
*/

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  color: var(--text-color);
  font-size: 0.8rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  background-color: #ffffff;
  opacity: 0.8;
  background-size: 190px 190px;
  background-image: var(--background-image-light);
  color: var(--text-color);
}

.two {
  background-color: #000000;
  opacity: 0.8;
  background-size: 190px 190px;
  background-image: var(--backgroud-image-dark);
  color: var(--dark-text-color);
}

.three {
  background-color: #ffffff;
  opacity: 0.8;
  background-size: 190px 190px;
  background-image: var(--background-image-light);
  color: var(--text-color);
  height: 200vh;
}

.four {
  background-color: #000000;
  opacity: 0.8;
  background-size: 190px 190px;
  background-image: var(--backgroud-image-dark);
}

.five {
  background-color: #ffffff;
  opacity: 0.8;
  background-size: 190px 190px;
  background-image: var(--background-image-light);
  color: var(--text-color);

}

.six {
  background-color: #ffffff;
  opacity: 0.8;
  background-size: 190px 190px;
  background-image: var(--background-image-light);
  color: var(--text-color);

}

app-profile {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}