<main>
    <section class="one">
        <app-home></app-home>
    </section>
    <section class="two">
        <app-profile></app-profile>
    </section>
    <section class="three">
        <app-experiences></app-experiences>
    </section>
    <section class="four">
        <app-competences></app-competences>
    </section>
    <section class="five">
        <app-formations></app-formations>
    </section>
    <section class="six">
        <app-contact></app-contact>
    </section>
</main>

<!-- <footer>2024 Samantha Defays</footer> -->
