<!-- <nav>
    <ul>
        <li>
            <a data-hover="Accueil" routerLinkActive="active-link" routerLink="home">Accueil</a>
        </li>
        <li>
            <a data-hover="Expériences" routerLinkActive="active-link" routerLink="experiences">Expériences</a>
        </li>
        <li>
            <a data-hover="Formations" routerLinkActive="active-link" routerLink="formations">Formations</a>
        </li>
        <li>
            <a data-hover="Compétences" routerLinkActive="active-link" routerLink="competences">Competences</a>
        </li>
        <!-- <li><a data-hover="Portfolio" routerLinkActive="active-link" routerLink="portfolio">Portfolio</a></li> -->
        <!-- <li>
            <a data-hover="Contact" routerLinkActive="active-link" routerLink="contact">Contact</a>
        </li> -->
    <!-- </ul>
</nav> -->

<main>
    <app-home></app-home>
    <app-experiences></app-experiences>
    <app-competences></app-competences>
    <app-formations></app-formations>
</main>
<footer>2024 Samantha Defays</footer>
