/*
  __  __ ______ _   _ _    _ 
 |  \/  |  ____| \ | | |  | |
 | \  / | |__  |  \| | |  | |
 | |\/| |  __| | . ` | |  | |
 | |  | | |____| |\  | |__| |
 |_|  |_|______|_| \_|\____/ 
*/

nav {
    margin-top: 1.5rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    * {
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    li {
        display: inline-block;
        list-style: outside none none;
        margin: 0 1.5em;
        overflow: hidden;
    }

    a {
        padding: 0.3em 0;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        display: inline-block;
        letter-spacing: 1px;
        margin: 0;
        text-decoration: none;
    }

    a:before, a:after {
        position: absolute;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    a:before {
        bottom: 100%;
        display: block;
        height: 3px;
        width: 100%;
        content: "";
        background-color: var(--primary-color);
    }

    a:after {
        padding: 0.3em 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        content: attr(data-hover);
        color: white;
        white-space: nowrap;
    }

}

nav ul li:hover a, .active-link {
    transform: translateY(100%);
}

/*
  __  __          _____ _   _ 
 |  \/  |   /\   |_   _| \ | |
 | \  / |  /  \    | | |  \| |
 | |\/| | / /\ \   | | | . ` |
 | |  | |/ ____ \ _| |_| |\  |
 |_|  |_/_/    \_\_____|_| \_|
*/

section {
    text-align: center;
    color: var(--text-color);
    font-size: 0.8rem;
}

/*
  ______ ____   ____ _______ ______ _____  
 |  ____/ __ \ / __ \__   __|  ____|  __ \ 
 | |__ | |  | | |  | | | |  | |__  | |__) |
 |  __|| |  | | |  | | | |  |  __| |  _  / 
 | |   | |__| | |__| | | |  | |____| | \ \ 
 |_|    \____/ \____/  |_|  |______|_|  \_\
*/

footer {
    margin-top: 10px;
}