<h1>Compétences</h1>

<section>
    <article clqss="languages">
        <i class="fa-solid fa-code"></i>
        <h2>Langages</h2>
        <ul>
            <li>HTML 5 / CSS 3</li>
            <li>JavaScript</li>
            <li>PHP</li>
        </ul>
    </article>
    <article clqss="frameworks">
        <i class="fa-regular fa-window-restore"></i>
        <h2>Frameworks</h2>
        <ul>
            <li class="angular">Angular</li>
            <li>Symfony</li>
            <li>Zend</li>
        </ul>
    </article>
    <article clqss="database">
        <i class="fa-solid fa-database"></i>
        <h2>BDD</h2>
        <ul>
            <li>MySQL</li>
            <li>GraphQL</li>
            <li>MongoDB</li>
        </ul>
    </article>
    <article clqss="technologies">
        <i class="fa-solid fa-microchip"></i>
        <h2>Technologies</h2>
        <ul>
            <li>JSON</li>
            <li>Web API</li>
            <li>JWT Token</li>
            <li>API REST</li>
            <li>JQuery</li>
            <li>WordPress</li>
        </ul>
    </article>
    <article clqss="tools">
        <i class="fa-solid fa-gear"></i>
        <h2>Outils</h2>
        <ul>
            <li>Git</li>
            <li>GitLab</li>
            <li>GitHub</li>
            <li>Docker</li>
            <li>AWS</li>
            <li>Wrike</li>
            <li>Méthode Agile</li>
        </ul>
    </article>
    <article clqss="ui">
        <i class="fa-solid fa-pen-ruler"></i>
        <h2>UI / UX</h2>
        <ul>
            <li>PrimeNG</li>
            <li>Bootstrap</li>
            <li>Material</li>
            <li>Tailwind</li>
        </ul>
    </article>
</section>
