<article>
    <h2>Langages</h2>
    <ul>
        <li>HTML / CSS</li>
        <li>PHP</li>
        <li>JavaScript</li>
        <li>XML</li>
    </ul>
</article>
<article>
    <h2>Base de données</h2>
    <ul>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>GraphQL</li>
    </ul>
</article>
<article>
    <h2>Technologies</h2>
    <ul>
        <li>JSON</li>
        <li>Angular 2</li>
        <li>symphony</li>
        <li>web API</li>
        <li>JWT Token</li>
        <li>REST</li>
        <li>API REST</li>
        <li>JQuery</li>
        <li>WordPress</li>
    </ul>
</article>
<article>
    <h2>Outils front</h2>
    <ul>
        <li>PrimeNG</li>
        <li>Tailwind</li>
        <li>Bootstrap</li>
        <li>Material</li>
    </ul>
</article>
<article>
    <h2>Outils</h2>
    <ul>
        <li>Git</li>
        <li>GitLab</li>
        <li>Wrike</li>
        <li>Docker</li>
    </ul>
</article>
<article>
    <h2>Méthodes</h2>
    <ul>
        <li>Agile</li>
    </ul>
</article>