.container {
   color: var(--text-color);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 3% 0;

   .card {
      width: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2px;
      text-align: center;
      
      article {
         width: 50%;
         
         h2 {
            text-transform: uppercase;
            font-weight: bold;
         }
      }
      
      .illustration {
         width: 30%;
         padding: 5%;
         background-color: yellow;
         border-radius: 50%;
         border: 5px solid white;
      }
      
      .list {
         width: 70%;
         padding: 1%;
      }
   }
}