<h1>Compétences</h1>
<div class="container">
    <section class="card">
        <article class="illustration illustration-1">
            <img src="../../assets/images/icons/programme.svg" alt="Chevrons de code">
        </article>
        <article class="list">
            <h2 class="title">Langages</h2>
            <ul class="text">
                <li>HTML / CSS</li>
                <li>PHP</li>
                <li>JavaScript</li>
            </ul>
        </article>
    </section>
    <section class="card">
        <article class="illustration illustration-2">
            <img src="../../assets/images/icons/code.svg" alt="Code">
        </article>
        <article class="list">
            <ul class="text">
                <h2 class="title">Frameworks</h2>
                <li>Angular</li>
                <li>Symfony</li>
                <li>Zend</li>
            </ul>
        </article>
    </section>
    <section class="card">
        <article class="illustration illustration-3">
            <img src="../../assets/images/icons/database.svg" alt="Base de données">
        </article>
        <article class="list">
            <h2 class="title">Base de données</h2>
            <ul class="text">
                <li>MySQL</li>
                <li>GraphQL</li>
                <li>MongoDB</li>
            </ul>
        </article>
    </section>
    <section class="card">
        <article class="illustration illustration-4">
            <img src="../../assets/images/icons/pc.svg" alt="Ordinateur">
        </article>
        <article class="list">
            <h2 class="title">Technologies</h2>
            <ul class="text">
                <li>JSON</li>
                <li>web API</li>
                <li>JWT Token</li>
                <li>REST</li>
                <li>API REST</li>
                <li>JQuery</li>
                <li>WordPress</li>
            </ul>
        </article>
    </section>
    <section class="card">
        <article class="illustration illustration-5">
            <img src="../../assets/images/icons/edit-tools.svg" alt="Outils">
        </article>
        <article class="list">
            <h2 class="title">Outils</h2>
            <ul class="text">
                <li>Git</li>
                <li>GitLab</li>
                <li>Docker</li>
                <li>AWS</li>
                <li>Wrike</li>
                <li>Méthode agile</li>
            </ul>
        </article>
    </section>
    <section class="card">
        <article class="illustration illustration-6">
            <img src="../../assets/images/icons/pinceau.svg" alt="Pinceau">
        </article>
        <article class="list">
            <h2 class="title">UI</h2>
            <ul class="text">
                <li>PrimeNG</li>
                <li>Bootstrap</li>
                <li>Material</li>
                <li>Tailwind</li>
            </ul>
        </article>
    </section>
</div>