@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

section {
   display: flex;
   flex-wrap: wrap;

   article {
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin: 1% 2%;
      padding: 1%;
      width: 28%;
      text-align: center;
      color: var(--text-color);
      background: rgba(23, 107, 135, 0.47);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(23, 107, 135, 0.3);
      transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;

      i {
         font-size: 4rem;
         margin-bottom: 3%;
         color: var(--primary-color);
      }

      h2 {
         margin-bottom: 1rem;
         text-transform: uppercase;
         text-decoration: underline;
      }
   }

}

article:hover {
   transform: scale(1.1);
}