<section>
  <article>
    <div class="content">
      <h2 class="text-center">Développement Angular Symfony</h2>
      <img src="../../assets/images/web_dev_woman.png">
      <p>
        Concevoir et développer des applications web avec les frameworks Angular
        9 et Symfony 5 Consolidation des bases en développement et des
        protocoles HTTP Apprentissage des frameworks Symfony (avec utilisation
        de Doctrine et API Platform) et Angular (utilisation de Bootstrap)
        Découverte du NoSQL, de la mise en cache avec Redis...
      </p>
    </div>
    <div class="side">
      <h4 class="text-gray-500">De Avril 2020 à Juillet 2020</h4>
      <img src="../../assets/images/logo_3w.png" alt="3W Academy" title="3W Academy Marseille">
    </div>
  </article>
  <article>
    <div class="content">
      <h2 class="text-center">Développeur intégrateur web</h2>
      <img src="../../assets/images/web_dev_woman.png">
      <p>
        Concevoir et développer des applications web. Intégration de maquettes
        avec HTML 5, CSS 2h2, découverte de JQuery et WordPress. Découverte des
        bases du développement web avec JavaScript, PHP 5, AJAX, code procédural
        puis POO. Réalisation de sites avec un framework fait par
        l'établissement puis réalisation d'un framework pour le projet de
        validation du diplôme.
      </p>
    </div>
    <div class="side">
      <h4 class="text-gray-500">De Janvier 2020 à Mars 2020</h4>
      <img src="../../assets/images/logo_3w.png" alt="3W Academy" title="3W Academy Marseille">
    </div>
  </article>
  <article>
    <div class="content">
      <h2 class="text-center">BTS Communication</h2>
      <img src="../../assets/images/web_dev_woman.png">
      <p>
        Une formation en communication des entreprises qui apporte également des
        cours d'économie, de droit, d'anglais, d'utilisation de divers média
        (Photoshop, montages vidéos avec Pinnacle, sites web avec WordPress...)
      </p>
    </div>
    <div class="side">
      <h4 class="text-gray-500">De Septembre 2012 à Mai 2014</h4>
      <img src="../../assets/images/logo_ifc.png" alt="IFC" title="IFC Méditerranée">
    </div>
  </article>
</section>
