@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat&family=Mr+De+Haviland&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat&family=Mr+De+Haviland&family=Poppins:wght@100;700&display=swap');

:root {
    --primary-color: #38ada9;
}

body {
    font-family: 'Poppins', sans-serif;
    color: lightgrey;
}

main {
    max-width: 80%;
    margin: 0 auto;
}