@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat&family=Mr+De+Haviland&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat&family=Mr+De+Haviland&family=Poppins:wght@100;700&display=swap');

:root {
    --primary-color: #CE8147;
    --primary-color-transparent: rgba(21, 151, 125, 0.1);
    --secondary-color: #d29769;
    --secondary-color-transparent: rgba(173, 227, 151, 0.4);
    --accent-color: #9c3a96;
    --light-color: #ffd5b4;
    --background-color: #dfe6e9;
    --dark-color: #04364A;
    --dark-color-transparent: rgba(65, 90, 119, 0.5);
    --secondary-gradient: #0a4e65;
    --text-color: #e3dee3;
    --dark-text-color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #27306C no-repeat fixed url(../src/assets/images/purple_background.svg);
    background-size: cover;
}

main {
    max-width: 75vw;
    margin: 0 auto;

    section {
        max-width: 1000px;
        margin: 0 auto;
    }
}

h1 {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 3%;
}

a {
    font-weight: 600;
    color: var(--primary-color);
}