<header>
    <a href="" class="typewrite">
        <app-typewriter [dataType]="['Samantha Defays', 'Développeuse web fullstack']" [dataPeriod]="2000"></app-typewriter>
    </a>
    <!-- <img src="../../../assets/images/developer_computer.svg" alt="Développeuse web illustration"> -->
</header>

<section>
    <article>
        <!-- <img src="../../assets/images/computer_desktop.svg" alt="Illustration d'un ordinateur"> -->
    </article>
    <article>
        <p>Je m'appelle Samantha Defays, j'ai 33 ans, et je me suis reconvertie professionnellement pour faire du développement web mon métier. Après plusieurs années durant lesquelles j'ai appris différents domaines, comme la communication, l'anglais, le montage photo et vidéo, l'économie, le droit, la comptabilié ou même le journalisme, j'ai finalement décidé de me lancer dans ce qui m'attirait depuis longtemps, à savoir l'informatique et les nouvelles technologies en général. J'ai essayé le développement web, et j'ai su que ça me plaisait.</p>
    </article>
    <article>
        Le développement front-end a été ma première porte d'entrée, il y a des années en autodidacte, pour le plaisir. Des années plus tard, j'ai eu l'opportunité d'élargir mes horizons et de voir le back-end, mais également l'utilisation des frameworks. Même si j'ai commencé le développement avec JavaScript et PHP, TypeScript ayant suivi peu après, j'ai ouvert la porte à d'autres langages comme Java que j'aimerais maîtriser.
    </article>
    <article>
        <!-- <img src="../../assets/images/hands_coding.svg" alt="Illustration de mains en train de coder"> -->
    </article>
    <article>
        <!-- <img src="../../assets/images/workflow.svg" alt="Illustration femme au travail devant un graphique"> -->
    </article>
    <article>
        Je travaille dans le domaine de l'immobilier depuis 2021 mais je ne suis pas fermée à d'autres domaines, et apprendrai volontiers à traailler dans d'autres domaines. Je suis à la fois intéressée par le front-end que le back-end, et motivée par un fort désir de déménager en Suisse.
    </article>
</section>