header {
    margin: 4rem 0;
    display: flex;
    justify-content: center;

    a {
        font-size: 4rem;
        font-family: "Dosis", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
    }
}